* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#nav {

    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 150px;
    gap: 45px;
    position: fixed;
    z-index: 99;
    /* background-color: #000; */

}

#nav h4 a {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

#nav img {
    height: 75px;
    background-color: black;
    border-radius: 10px;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

#page1 h1 {
    font-size: 70px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: "Harvest.Innovate.Prosper";
    position: absolute;
    color: #000;
    top: -4px;
    left: -4px;
    z-index: -1;
    color: #95c11e;

}

#page1 h2 {
    font: size 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 10;
}

#page1 p {
    font: size 20px;
    font-weight: 600;
    width: 25%;
    line-height: 25px;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: #0000000e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;

}

#cursor-blur {
    height: 300px;
    width: 300px;
    background-color: #96c11e65;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    z-index: 9;
}

#scroller {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

#scroller-in::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 100px;
    font-weight: 800;
    font-family: Impact, "Montserrat", 'Arial Narrow Bold', sans-serif;
    margin-right: 40px;
    color: transparent;
    transition: color 0.3s ease;
}

#scroller h4 a:hover {
    color: #95c11e;
}

#scroller h4 a {
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 3px #95c11e;
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#about-us {
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;


}

#about-us img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}

#about-us-in {
    width: 50%;
    text-align: center;
}

#about-us-in h3 {
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 40px;
}

#about-us-in p {
    font-size: 20px;
    line-height: 30px;
}

#cards-container {
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
}

.card {
    height: 80%;
    width: 22%;
    /*background-color: green;
    */
    border-radius: 15px;
    z-index: 10;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: transform 5s ease 1;
    -webkit-transition: transform 5s ease 1;
    -moz-transition: transform 5s ease 1;
    -ms-transition: transform 5s ease 1;
    -o-transition: transform 5s ease 1;
}





#card1 {
    background-image: url(assets/pexels-pixabay-54084.jpg);
}


#card2 {
    background-image: url(assets/pexels-pixabay-164504.jpg);
}

#card3 {
    background-image: url(assets/pexels-enginakyurt-1435863.jpg);
}

#card1:hover {
    transform: translateY(-10px);
}

#card2:hover {
    transform: translateY(-10px);

}

#card3:hover {
    transform: translateY(-10px);

}

#green-div {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left bottom, #fbff00, #95c11e);

}

#green-div h4 {
    font-family: "lato";
    color: black;
    width: auto;
    text-transform: uppercase;
    font-size: 23px;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 h4 {
    text-transform: uppercase;
    text-align: center;
    margin-left: 150px;
    font-size: 30px;
    font-weight: 600px;
    width: 55%;
    line-height: 45px;
}

#page3 img {
    position: relative;
    height: 80px;
}

#page3 #colon1 {
    right: 900px;
    bottom: 150px;
}

#page3 #colon2 {
    top: 145px;
    right: 75px
}