@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;

}

.weather-input {
    width: 40%;
    position: fixed;
    inset: 0;
    background-color: #95c11e;
    padding: 1rem 2.5rem;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.input-group input {
    background-color: #f8f8f8;
    text-transform: capitalize;
    padding: 1rem;
    font-size: 15px;
    border-radius: 6px;
    width: 100%;
    outline: none;
    border: none;
}

.input-group .converter {
    position: absolute;
    right: 45px;
    border: none;
    outline: none;
    font-size: 18px;
}

.input-group .fa-search {
    position: absolute;
    right: 15px;
    color: #909090;
    cursor: pointer;
    font-size: 22px;
}

.weather-output {
    width: 60%;
    position: fixed;
    inset: 0;
    margin-left: 40%;
    padding: 2rem;
    background-color: #f6f6f6;
    overflow: auto;
}

.highlight {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
}

.highlight div {
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #95c11e;
    border-radius: 20px;
    padding: 1rem;
}

.highlight i {
    font-size: 45px;
}

.sun span {
    align-items: center;
    display: flex;
    gap: 10px;
}